.App {
  text-align: center;
}

.Header {
  color: red;
}

.Display {
  height: 100px;
  margin: auto;
  width: 40%;
  border: 1px solid black;
}

.Buttons {
  margin: auto;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
